@font-face {
  font-family: "Gilroy";
  src: url(Gilroy-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  height: 100%;
  width: 100%;
  background-color: white;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 20px 30px 0;
}

nav h4 {
  font-size: 1vw;
}

nav i {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  font-size: 1vw;
}

#center {
  width: 100%;
  padding: 20px 80px;
}

#center h1 {
  font-size: 4vw;
  line-height: 5vw;
}

#center-in {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#center-in p {
  font-size: 1.2vw;
  font-style: 600;
  line-height: 1.5vw;
}

#right {
  width: 20%;
}

.elem {
  padding: 10px 0;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elem a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1vw;
}

.elem:hover a {
  text-decoration: underline;
}

.elem i {
  font-size: 1.2vw;
  opacity: 0;
}

.elem:hover i {
  opacity: 1;
}

#bottom {
  height: 40%;
  width: 100%;
  background-image: url(image.jpg);
  background-size: cover;
  background-position: center;
}